<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tuzki0_static</key>
	<string>tuzki0</string>
	<key>tuzki1_static</key>
	<string>tuzki1</string>
	<key>tuzki2_static</key>
	<string>tuzki2</string>
	<key>tuzki3_static</key>
	<string>tuzki3</string>
	<key>tuzki4_static</key>
	<string>tuzki4</string>
	<key>tuzki5_static</key>
	<string>tuzki5</string>
	<key>tuzki6_static</key>
	<string>tuzki6</string>
	<key>tuzki7_static</key>
	<string>tuzki7</string>
	<key>tuzki8_static</key>
	<string>tuzki8</string>
	<key>tuzki9_static</key>
	<string>tuzki9</string>
	<key>tuzki10_static</key>
	<string>tuzki10</string>
	<key>tuzki11_static</key>
	<string>tuzki11</string>
	<key>tuzki12_static</key>
	<string>tuzki12</string>
	<key>tuzki13_static</key>
	<string>tuzki13</string>
	<key>tuzki14_static</key>
	<string>tuzki14</string>
	<key>tuzki15_static</key>
	<string>tuzki15</string>
	<key>paopaobing0_static</key>
	<string>paopaobing0</string>
	<key>paopaobing1_static</key>
	<string>paopaobing1</string>
	<key>paopaobing2_static</key>
	<string>paopaobing2</string>
	<key>paopaobing3_static</key>
	<string>paopaobing3</string>
	<key>paopaobing4_static</key>
	<string>paopaobing4</string>
	<key>paopaobing5_static</key>
	<string>paopaobing5</string>
	<key>paopaobing6_static</key>
	<string>paopaobing6</string>
	<key>paopaobing7_static</key>
	<string>paopaobing7</string>
	<key>paopaobing8_static</key>
	<string>paopaobing8</string>
	<key>paopaobing9_static</key>
	<string>paopaobing9</string>
	<key>paopaobing10_static</key>
	<string>paopaobing10</string>
	<key>paopaobing11_static</key>
	<string>paopaobing11</string>
	<key>paopaobing12_static</key>
	<string>paopaobing12</string>
	<key>paopaobing13_static</key>
	<string>paopaobing13</string>
	<key>paopaobing14_static</key>
	<string>paopaobing14</string>
	<key>paopaobing15_static</key>
	<string>paopaobing15</string>
	<key>baozou0_static</key>
	<string>baozou0</string>
	<key>baozou1_static</key>
	<string>baozou1</string>
	<key>baozou2_static</key>
	<string>baozou2</string>
	<key>baozou3_static</key>
	<string>baozou3</string>
	<key>baozou4_static</key>
	<string>baozou4</string>
	<key>baozou5_static</key>
	<string>baozou5</string>
	<key>baozou6_static</key>
	<string>baozou6</string>
	<key>baozou7_static</key>
	<string>baozou7</string>
	<key>baozou8_static</key>
	<string>baozou8</string>
	<key>baozou9_static</key>
	<string>baozou9</string>
	<key>baozou10_static</key>
	<string>baozou10</string>
	<key>baozou11_static</key>
	<string>baozou11</string>
	<key>baozou12_static</key>
	<string>baozou12</string>
	<key>baozou13_static</key>
	<string>baozou13</string>
	<key>baozou14_static</key>
	<string>baozou14</string>
	<key>baozou15_static</key>
	<string>baozou15</string>
	<key>work0_static</key>
	<string>work0</string>
	<key>work1_static</key>
	<string>work1</string>
	<key>work2_static</key>
	<string>work2</string>
	<key>work3_static</key>
	<string>work3</string>
	<key>work4_static</key>
	<string>work4</string>
	<key>work5_static</key>
	<string>work5</string>
	<key>work6_static</key>
	<string>work6</string>
	<key>work7_static</key>
	<string>work7</string>
	<key>work8_static</key>
	<string>work8</string>
	<key>work9_static</key>
	<string>work9</string>
	<key>work10_static</key>
	<string>work10</string>
	<key>work11_static</key>
	<string>work11</string>
	<key>work12_static</key>
	<string>work12</string>
	<key>work13_static</key>
	<string>work13</string>
	<key>work14_static</key>
	<string>work14</string>
	<key>work15_static</key>
	<string>work15</string>
</dict>
</plist>
